header {
  background-color: #d8adad;
}

#menuknap {
  color: #efede7;
  place-content: end;
  display: flex;
}

#menu li {
  list-style: none;
  color: #efede7;
  font-family: Abadi MT Condensed Light;
  text-align: center;
  margin: 1em;
}

#menu a {
  text-decoration: none;
  color: #efede7;
}
