img {
  max-width: 100%;
  height: auto;
}

html body {
  margin: 0;
}

#main1 {
  margin-left: 4em;
  margin-right: 4em;
}

header {
  background-color: #d8adad;
}

#menuknap {
  color: #efede7;
  place-content: end;
  display: flex;
  /* display: inline-block; */
}

#menu li {
  list-style: none;
  color: #efede7;
  font-family: Abadi MT Condensed Light;
  text-align: center;
  margin-top: 1em;
  text-transform: uppercase;
}

#menu a {
  text-decoration: none;
  color: #efede7;
}

#first_section {
  display: grid;
  background-image: url(billeder/baggrund.jpg);
  background-size: cover;
  background-position: 72%;
  height: 100vh;
  width: 100%;
}

#first_section img {
  grid-area: 1/1;
}

#first_section h1 {
  grid-area: 1/1;
  z-index: 1;
  color: #efede7;
  font-family: Myriad Pro;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  top: 1em;
  left: 0.8em;
  font-size: 2.5em;
}

#first_section h3{
  grid-area: 1/1;
  z-index: 1;
  color: #efede7;
  font-family: Myriad Pro;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  top: 8em;
left: 11.5em;
font-size: 0.8em;
}
}

.box2 {
  border: solid #d8adad;
  margin-top: 40px;
}

#third_section img {
  margin-bottom: 2em;
}

.img1 {
  display: grid;
}
.img1:hover .img1_1 {
  display: block;
}

.img1_1 {
  display: none;
  position: absolute;
  font-family: Myriad Pro;
  text-transform: uppercase;
  color: #efede7;
  text-align: center;
}

h2 {
  font-family: Myriad Pro;
}

.hidden {
  /*    display: none;*/
  /*    transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

@media (max-width: 600px) {
  .hidden {
    display: none;
  }
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    margin: 0;
    display: flex;
    gap: 50px;
  }

  #menu li {
    display: inline-block;
  }

  #first_section h1 {
    position: relative;
    top: 1.5em;
    left: 0.8em;
    font-size: 3.5em;
  }

  #first_section h3
  {top: 10.5em;
left: 13.5em;
font-size: 1em;}

  #second_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .box2 {
    margin-top: 0;
  }

  #third_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }

  #third_section img {
    margin-bottom: 0;
  }

  .img1 {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .img2 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .img3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .img4 {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

@media only screen and (min-width: 800px) {
  #first_section h1 {
    position: relative;
    top: 1em;
    left: 1em;
    font-size: 4.5em;
  }

  #first_section h3
  {top: 7.3em;
left: 11.5em;
font-size: 1.5em;}

}

@media only screen and (min-width: 1000px) {
  #first_section h1 {
    position: relative;
    top: 1em;
    left: 1.5em;
    font-size: 5.5em;
  }
#first_section h3{
      top: 6.5em;
    left: 12.5em;
    font-size: 2em;
}
}
