html body {
  margin: 0;
}

header {
  background-color: #d8adad;
}

#menuknap {
  color: #efede7;
  place-content: end;
  display: flex;
  /* display: inline-block; */
}

#menu li {
  list-style: none;
  color: #efede7;
  font-family: Abadi MT Condensed Light;
  text-align: center;
  margin: 1em;
  text-transform: uppercase;
}

#menu a {
  text-decoration: none;
  color: #efede7;
}

.hidden {
  /*    display: none;*/
  /*    transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

@media (max-width: 600px) {
  .hidden {
    display: none;
  }
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    margin: 0;
  }

  #menu li {
    display: inline-block;
  }
}
